# Eclipse
.classpath
.project
.settings/
.metadata
# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Windows thumbnail db
Thumbs.db

# Maven
target/

# netbeans
nbactions.xml
nb-configuration.xml

# web config
web.xml

